<% if notice || alert %>
	<div class="notification is-link">
		<button class="delete" onClick="closeNotification();"></button>
			<% if notice %>
				<p class="notice"><%= notice %></p>
			<% end %>
			
			<% if alert %>
				<p class="alert"><%= alert %></p>
			<% end %>
	</div>
<% end %>