<nav class="navbar is-transparent">
  <div class="navbar-brand">
     <%= link_to image_tag("logo.png", width: 163, height: 81), pages_index_path, {class: 'navbar-item'} %>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: "navbar-item" %>
      <% if user_signed_in? %>
          <%= link_to "Inventory For Sale", vehicles_path, class: "navbar-item" %>
          <%= link_to('All Vehicles', vehicles_all_path, class: "navbar-item") %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-item") %>

      <% else %>
          <%= link_to "Log In", new_user_session_path, class: "navbar-item" %>
      <% end %>
  </div>
</nav>