<%= form_with(model: @vehicle, local: true) do |form| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label "Make" %></strong>
    <%= form.text_field :make, id: :make, class: "input is-medium" %>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label "Model" %></strong>
    <%= form.text_field :model, id: :model, class: "input is-medium" %>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label "Year" %></strong>
    <%= form.number_field :year, id: :year, class: "input is-medium" %>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label "Mileage" %></strong>
    <%= form.number_field :mileage, id: :mileage, class: "input is-medium" %>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label "Interior Color"  %></strong>
    <%= form.text_field :interior_color, id: :interior_color, class: "input is-medium" %>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label "Exterior Color"  %></strong>
    <%= form.text_field :exterior_color, id: :exterior_color, class: "input is-medium" %>
  </div>
  
  <br>

  <div class="field">
    <strong><%= form.label "Condition" %></strong>
    <%= form.text_field :condition, id: :condition, class: "input is-medium" %>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label "Price" %></strong>
    <%= form.number_field :price, id: :price, class: "input is-medium" %>
  </div>

  <br>

  <div class="field">
    <label class="checkbox">
    <%= form.check_box :for_sale, id: :for_sale %>
     <strong>Vehicle Currently For Sale</strong>
    </label>

    <p>
      Default value is FOR SALE. Uncheck this box to indicate the vehicle is sold or is no longer available in the FOR SALE inventory.
    </p>
  </div>

  <div class="field">
    <strong><%= form.label "Description of Vehicle, Other Information not available via other form inputs."  %></strong>
    <%= form.text_area :description, id: :description, class: "textarea is-medium" %>
  </div>

  <hr>

  <div class="actions">
    <%= form.submit button_text_vehicles, class: "button is-medium" %>
  </div>
<% end %>