<table class="table is-hover is-fullwidth is-responsive">
	<thead>
		<tr>
			<th>Vehicle</th>
			<th>Mileage</th>
			<th>Price</th>
			<th colspan="3">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @vehicles.each do |vehicle| %>
		<tr>
			<td><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></td>
			<td><%= vehicle.mileage %> </td>
			<td>$<%= vehicle.price %></td>
			<td><%= link_to 'Show', vehicle, class: 'button is-small' %></td>
      <td><%= link_to 'Edit', edit_vehicle_path(vehicle), class: 'button is-small' %></td>
      <td>
      	<%= link_to 'Destroy', vehicle,  method: :delete, class: "button is-small", data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>