<h1><%= icon('flag-checkered') %> Emerald Coast Motor Cars</h1>
<h2><%= icon('car') %> <%= inventory_title %></h2>
<hr>
<div class="columns is-mobile">
	<div class="column">
		<%= render('vehicles/full_list') %>
	</div>
</div>

<%= link_to icon('car') + ' ' + button_text_vehicles, new_vehicle_path, class: "" %>