<div class="card is-centered">
  <header class="card-header">
		<h2 class="card-header-title title">
			<%= @vehicle.year %> 
			<%= @vehicle.make %>
			<%= @vehicle.model %> 
		</h2>
	</header>
	<div class="card-content">
		<p class="subtitle is-6">
			LAST UPDATED <%= @vehicle.created_at.strftime('%m/%d/%Y') %>	
		</p>
		<strong>Price: </strong>$<%= @vehicle.price %>
		<br>
		<strong>Mileage: </strong><%= @vehicle.mileage %>
		<br>
		<strong>Interior Color: </strong><%= @vehicle.interior_color %>
		<br>
		<strong>Exterior Color: </strong><%= @vehicle.exterior_color %>
		<br>
		<strong>Condition: </strong><%= @vehicle.condition %>
		<br>
		<br>
		
		<strong>Description for Advertisement: </strong><br>
		<%= @vehicle.description %>
		<hr>
		<%= link_to 'Edit', edit_vehicle_path(@vehicle), class: "button is-rounded" %>
		<%= link_to 'Back', vehicles_path, class: "button is-rounded" %>
	</div>
</div>
