/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
*/
@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
	font-family:  sans-serif;
	background-color: #f7f7f7;
}
h1 {
  color: #313131;
	font-weight: 700;
	font-size: 28px;
}
h2 {
  color: #313131;
	font-weight: 700;
	font-size: 24px;
}

.alerts {
	background-color: white;
	border: solid 1px green;
	position: relative;
	z-index: 9999;
}

.container {
	padding-left: 1rem;
	padding-top: 1.25rem;
}

.article__make_model {
	font-size: 2.2rem;
}

.date {
	font-weight: 700;
	font-size: .75rem;
}

a {
	color: #0cb141e8;
}

.navbar-item {
	color: white;
}

.navbar-menu {
	background-color: #232628 !important;
}

@media screen and (max-width: 1024px) {
	.navbar-burger span:nth-child(1) {
	    top: calc(50% - 12px);
	}

	.navbar-burger span:nth-child(2) {
	    top: calc(50% - 2px);
	}

	.navbar-burger span:nth-child(3) {
	    top: calc(50% + 8px);
	}
	.navbar-burger.is-active span:nth-child(1) {
	    transform: translateY(15px) rotate(45deg);
	}
	.navbar-burger {
    background-color: rgb(35, 38, 40) !important;
	}

	.navbar-burger:hover {
    background-color: rgb(35, 38, 40) !important;
	}
	.navbar-burger {
	    cursor: pointer;
	    display: block;
	    height: 7.25rem;
	    position: relative;
	    width: 7.25rem;
	    margin-left: auto;
	}
	.navbar-burger span {
	    background-color: currentColor;
	    color: white;
	    display: block;
	    height: 2px;
	    left: calc(50% - 8px);
	    position: absolute;
	    transform-origin: center;
	    transition-duration: 86ms;
	    transition-property: background-color, opacity, transform;
	    transition-timing-function: ease-out;
	    width: 36px;
	}

	a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active {
    background-color: dimgrey;
    color: black !important;
	}
	.navbar-item:hover {
		color: #b9b8b8 !important;
	}
}

.navbar {
    background-color: #232628;
    position: relative;
}

.navbar-item img {
	max-height: 161px;
}

a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active {
    background-color: #232628;
    color: #56d87a;
}