<p>Welcome to the ECMC Inventory App!</p>

<p>Hi, this is a link to the application that I have built to keep a master list of the vehicles for sale in your inventory</p>

<p>To access the app, click the following link that says 'Confirm my Account'. You can begin adding vehicles to your inventory after you sign in:</p>

<p>Use the password that I sent in the email earlier. It will remain this password until you need to change it.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

The current url to access the app is <a href="https://ecmc-inventory.herokuapp.com/">https://ecmc-inventory.herokuapp.com</a> this application can be used through your phone web browser with an internet connection and on your desktop computer with an internet connection.